* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.btn {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 2%;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-left img {
    margin: 10px;
}

.nav-midd a {
    text-decoration: none;
    margin: 10px;
}

.nav-right button {
    background-color: #1D4ED8;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/banner.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.header-part1 {
    color: white;
    width: 50%;
    position: relative;
    top: -140px;

}

.header-part1 h1 {
    font-size: 60px;
    font-weight: 700;
}

.header-part2 {
    position: relative;
    bottom: -140px;
}

.header-part2 button {
    background-color: #1D4ED8;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
}


.hero-part1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.card1 {
    border: 2px solid rgb(217, 217, 245);
    margin: 2px;
    border-radius: 8px;
    width: 99vh;
    margin: 10px;
    padding: 10px;

}

.hero-part-heading {
    color: rgb(29, 29, 49);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 32px;
}

/* secure & offer part  */
.secure-heading {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.offer-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.offer-card {
    background-color: #E5E7EB;
    margin: 10px;
    padding: 32px;
    border-radius: 5px;
}

.offer-card2 {
    background-color: #0D1B2A;
    margin: 10px;
    padding: 32px;
    color: #FFFFFF;
    border-radius: 5px;
}

.offer-card2 .btn {
    background-color: #1D4ED8;
}

/* challenging part css */

.challenge-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    font-size: 32px;
    color: rgb(110, 4, 4);
}

.challengeEvents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.challenge1 {
    margin: 2px;
    border-radius: 8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/ai1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    height: 50vh;
}

.challenge1 p {
    position: relative;
    bottom: -60px;
    left: -62px;
    font-size: 20px;
    color: white;
}

.challenge2 {
    margin: 2px;
    border-radius: 8px;
    background-image: url(./assets/bcamp1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    height: 50vh;
}

.challenge2 p {
    position: relative;
    bottom: -60px;
    left: -62px;
    font-size: 20px;
    color: white;
}

.challenge3 {
    margin: 2px;
    border-radius: 8px;
    background-image: url(./assets/uiux1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    height: 50vh;
}

.challenge3 p {
    position: relative;
    bottom: -2px;
    left: -62px;
    font-size: 20px;
    color: white;
}

.challenge4 {
    margin: 2px;
    border-radius: 8px;
    background-image: url(./assets/career1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    height: 50vh;
}

.challenge4 p {
    position: relative;
    bottom: -60px;
    left: -62px;
    font-size: 20px;
    color: white;
}

.common-heading {
    color: rgb(230, 6, 6);
}

.challenge-ai {
    background-color: rgb(200, 213, 224);
    border: 2px solid rgb(212, 196, 196);
    border-radius: 5px;
}

.challenge-venue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.campus-name {
    font-size: 20px;
    color: rgb(4, 66, 46);
}

/* footer css */
.footer-part {
    background-color: #4692b1;
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.footer1 div a {
    margin: 10px;
}

.footer1 div span {
    display: flex;
    justify-content: flex-start;

}


.footer2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 30px;
}

.footer3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}